{% extends "Test/base.html" %}
{% block title %} Новый пароль {% endblock %}
{% block content %}
{% load user_filters %}

{% if validlink %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Введите новый пароль</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                     <div class="form-group row">
                          <label for="{{ form.old_password.id_for_label }}" class="col-md-4 col-form-label text-md-right">Старый пароль</label>
                          <div class="col-md-6">
                              {{ form.old_password|addclass:"form-control" }}
                          </div>
                    </div>

                    <div class="form-group row">
                          <label for="{{ form.new_password.id_for_label }}" class="col-md-4 col-form-label text-md-right">Новый пароль</label>
                          <div class="col-md-6">
                              {{ form.new_password|addclass:"form-control" }}
                          </div>
                    </div>

                    <div class="form-group row">
                          <label for="{{ form.new_password_repeat.id_for_label }}" class="col-md-4 col-form-label text-md-right">Подтверждение нового пароля</label>
                          <div class="col-md-6">
                              {{ form.new_password_repeat|addclass:"form-control" }}
                          </div>
                    </div>

                    <div class="col-md-6 offset-md-4">              
                            <button type="submit" class="btn btn-primary">
                                Изменить пароль
                            </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% else %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Ошибка</div>
            <div class="card-body">
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endif %}

{% endblock %}